<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB84NXVhnz1pCON2-T1eoE5XAGFb6wMMT0</string>
	<key>GCM_SENDER_ID</key>
	<string>83885842453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raphaelsilva.talker.talker</string>
	<key>PROJECT_ID</key>
	<string>talker-83bdf</string>
	<key>STORAGE_BUCKET</key>
	<string>talker-83bdf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83885842453:ios:1b180be4914f80c0fb2e1c</string>
</dict>
</plist>